<link rel="stylesheet" href="/css/fonts.css">
<style>

:root {
  --font-main: "XCharter", Georgia, serif;
  --font-secondary: "Fira Sans", Arial, sans-serif;
  --font-display: "XCharter", Georgia, serif;
  --font-scale: 1.2em;
  --background-color: #ffffff;
  --heading-color: #040e1a;
  --text-color: #2d3f55;
  --link-color: #2c6fd6;
  --visited-color: #4a5da0;
  --blockquote-color: #3a5a8a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e1f22;
    --heading-color: #f2f2f2;
    --text-color: #d4d4d4;
    --link-color: #9ecbff;
    --visited-color: #c4a4ff;
    --blockquote-color: #b7b7b7;
  }
}

html {
  font-size: 0.96em;
}

code,
pre,
kbd,
samp {
  font-family: "Fira Mono", Consolas, monospace;
  font-size: 0.88em;
}

body {
  font-family: var(--font-main);
  font-variant-numeric: lining-nums tabular-nums;
  line-height: 1.5;
}

h1 {
  font-family: var(--font-display);
  font-weight: 400;
}
h2,
h3 {
  font-family: var(--font-display);
  font-weight: 700;
}

strong,
b {
  font-weight: 700;
}

header .title h2 {
  margin: 0.25em 0 0.15em;
  line-height: 1.2;
  font-size: 1em
}

header nav {
  margin-top: 0.1em;
}

header nav a {
  margin-right: 8px;
}

/* Tag links only */
a[href*="/tags/"],
a[href*="/tags/"]:visited {
  color: #ae9f9a;
}
mjx-container.MathJax[display="false"] {
  margin: 0 !important;
}

time {
  font-family: var(--font-secondary);
  font-weight: 600;
  font-size: 0.88em;
}
</style>

{{ if .Param "math" }}
  {{ partialCached "math.html" . }}
{{ end }}
