{{ define "main" }}
{{ .Content }}
<ul class="blog-posts">
  {{ $blogPosts := where .Site.RegularPages "Section" "blog" }}
  {{ $readingPosts := where .Site.RegularPages "Section" "readings" }}
  {{ $posts := $blogPosts | union $readingPosts }}
  {{ range first 10 (sort $posts "Date" "desc") }}
  <li>
    <span>
      <time datetime='{{ .Date.Format "2006-01-02" }}'>{{ .Date.Format "02 Jan, 2006" }}</time>
    </span>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
  </li>
  {{ else }}
  <li>No posts yet</li>
  {{ end }}
</ul>
{{ end }}
